body {
    background-color:#eeeeff;
    font-family: 'Roboto', "Open Sans", "Verdana", Georgia, Serif;
}

.button {
    margin: 5px;
    font-size: 100%;
    font-family: 'Roboto', "Open Sans", "Verdana", Georgia, Serif;
}
