html {
    background-color: #eeeeec;
    font-family: 'Roboto', 'Open Sans', 'Verdana', Georgia, Serif;
    text-align: center;
    color: #2e3436;
}
body {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;

    border: 4px solid #f57900;
    border-radius: 10px;
    background-color: #fcaf3e;
    
    padding: 20px 30px;
    align: center;
}

header {
    font-size: 230%;
    margin: 0 50px;
}

section {
    margin: 20px 100px 0;
    text-align: left;
    line-height: 1.5;
}

section .status {
    width: 230px;
    margin: 0 auto;
}
section .status .help {
    font-size: 70%;
    padding: 0 0 14px 15px;
    text-align: left;
}

.yes {
    background: transparent url(../res/yes.png) no-repeat right 2px;
    padding: 0 23px;
}
.no {
    background: transparent url(../res/no.png) no-repeat right 2px;
    padding: 0 23px;
}

#info {
    text-align: center;
    font-size: 70%;
    padding-top: 40px;
}
